<h1 class = "text-center mb-3">To-Do List</h1>

<form action = "/database" method = "POST" class = "mb-4">
<div class = "form-group">
  <label for = "todo">What do you need to do?</label>
  <input type="text" name="todo" class="form-control">
</div>
<button class="btn btn-light btn-block" type="submit">Submit</button>
</form>

<br>

<h4>Current To-Dos</h4>
<ul class = "list-group" action="/{{this.task}}" method="GET">
  {{#each items}}
  <li class="list-group-item"><form action="/{{this.task}}"><div name="todo">{{this.task}}</div><button type="submit" class="btn btn-danger" style="float:right;">Delete</button></form><div style="color:gray;font:italic;">{{this.time}}</div>
  </li>
  {{/each}}
</ul>
